# Core Libraries
torchaudio
transformers
librosa
soundfile

# Data Handling
pandas
numpy
datasets

# Evaluation
jiwer

# Audio Preprocessing
scipy
pydub

# Visualization
matplotlib
seaborn

# TensorFlow ASR (optional)
# tensorflow_asr
